$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$softer-red: hsl(345, 95%, 74%);
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$darker-desaturated-blue: hsl(236, 21%, 20%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-black-blue: hsl(234, 17%, 12%);
$pink: #d84070;
$very-dark-yellow: #534426;
$pale-brown: #f4e8d8;
$brown: #482015;
$red: #d4200e;
$orange: #ee8c48;
$pale-orange: #f4ab4e;
$light-red: #c6361e;
$yellow: #FFFF00;