@font-face {
 font-family: 'Press Start 2P';
 src: url("../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype")
}

@font-face {
 font-family: '04b_30';
 src: url("../assets/fonts/04b_30/04b_30.ttf") format("truetype")
}
